.rotacionImagen{-webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes rotacionImagen{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}

#gradiente {
  background-image: linear-gradient(blue, white);
}

.contenedor {  
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "Logo Menu Menu"
    "Contenido Contenido Contenido"
    "Pie Pie Pie"; 
}

.contenedorProducto {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "Logo Menu Menu"
    "ContenidoVideo ContenidoVideo ContenidoVideo"
    "Pie Pie Pie"; 
}

.ContenidoVideo {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "vid1 vid2 vid3"
    "vid4 vid5 vid6"
    "vid7 vid8 vid9"; 
  justify-self: center; 
  align-self: start; 
  grid-area: ContenidoVideo; 
}

.Logo {
  align-self: start; 
  grid-area: Logo; 
}

.Menu {
  align-self: start; 
  grid-area: Menu; 
}

.Contenido {
  grid-area: Contenido; 
  justify-self: center; 
  align-self: start; 
  height:max-content; 
}

.Pie {
  align-self: baseline; 
  grid-area: Pie; 
 
  
}

nav {
  padding: 1em;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul {
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  justify-content:space-around;
}

nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  flex-grow:1;
  text-align:center;
}

nav li a:hover {
  background: tomato;
  color: white;
}





ul{
    list-style: circle outside;
}

.textoGrande {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.textoNormal {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.textoDestacado {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

a {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }

img {
    border-radius: 12px;
  }

#principalP {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 2;
  }

  * {
    box-sizing: border-box;
  }

.boxRedes {
    float: left;
    width: 50%;
    padding: 50px;
    background-color: #777799;
  }

.boxContacto {
    float: left;
    width: 50%;
    padding: 50px;
    background-color: #D9C5B2;
  }

  /* 
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
 } 

 nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#14110F;
    border:1px solid #14110F;
    text-align:center;
    color:#fff;
 }

nav li:hover{
    background-color:#7E7F83;
    color:#000;
 }
*/


